body {
    margin: 0;
    padding: 0;
    background-color: #0000aa;
    color: white;
    font-family: "MS UI Gothic", sans-serif;
    font-weight: bold;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'MS Sans Serif';
    src: url('/fonts/src/ms-sans-serif-bold/MS\ Sans\ Serif\ Bold.ttf');
}
.not-found .title {
    width: 100%;
    display: inline-block;
    background: #aaaaaa;
    color: #0000aa;
    text-align: center;
}
.not-found {
    white-space: pre-line;
    width: 640px;
    background-color: #0000aa;
    color: white;
    text-align: left;
}
.blink {
    animation: 1s blink linear infinite;
}
@keyframes blink {
    0%,49.999%,100% {
        opacity: 1;
    }
    50%,99.999% {
        opacity: 0;
    }
}