body {
    background: #1d2022;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    cursor: auto;
    margin: 0;
}
body.dark a { transition: 0.5s; }
body.dark a:hover { text-shadow: 0 0 4px black; }
body.dark {
    color: white;
}
.notification {
    border-radius: 4px;
    padding: 6px;
    text-align: center;
    margin: 6px;
}
.notification#happynewyear {
    display: none;
    color: white !important;
    background: repeating-linear-gradient(40deg, rgba(255,0,0,0.75) 7px, rgba(255,0,0,0.75) 11px, rgba(255,255,255,0.75) 10px, rgba(255,255,255,0.75) 15px);
    text-shadow: 0 0 2px white, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
#winter { display: none; height: 100vh; position: fixed; }
.container {
    margin: 0 auto;
    display: inline-grid;
    width: 947px;
    margin-top: 6px;
}
footer {
    margin-top: 5px;
    margin-bottom: 6px;
    padding: 4px;
    border-radius: 0 0 4px 4px;
    background: rgba(0,0,0,0.75);
    width: 939px;
    color: white;
    grid-row: 6;
}
footer .right {
    float: right;
    text-align: right;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
}
button, input, select { cursor: url('/img/cursors/default/Default.png'), auto; }
#creditscontainer, #settingscontainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
}
.logocontainer {
    display: inline-grid;
    width: 1000px;
    height: 400px;
}
.logocont .logo {
    width: 380px;
}
.logocont .slogan {
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: right;
    position: absolute;
    margin-top: 90px;
    margin-left: -190px;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}
.window.eightone, .window.socials {
    grid-row: 1;
}
.logocont {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logocont .centah {
    text-align: center;
}
#lang-ru, #lang-en {
    width: 32px !important;
    transition: 0.3s;
    margin-top: 15px;
}
#lang-ru:hover, #lang-en:hover {
    cursor: pointer;
}
@keyframes undefinedswitch {
    0%,100% {
        height: 32px;
    }
    25% {
        height: 56px;
    }
    50% {
        height: 16px;
    }
    75% {
        height: 36px;
    }
}
.window.socials {
    grid-column: 4;
}
.window.links {
    margin-top: 5px;
    grid-row: 4;
    width: 947px;
    text-align: center;
}
.window.frame {
    margin-top: 5px;
    grid-row: 5;
    width: 947px;
    height: 600px;
}
.window.frame .window-body {
    height: 555px;
}
.window.frame .window-body iframe {
    width: 100%;
    height: 100%;
    border: 0;
}