body.dark {
    background-color: #1d2022;
    color: white !important;
}
body.welcome.dark {
    color: white;
}
body.dark .window .title-bar {
    text-shadow: 1px 1px #333333;
    border: 0;
}
body.dark button, body.dark input, body.dark select { filter: grayscale(); }
body.dark .window button:disabled, body.dark .window button:active {
    background: #1f1f1f !important;
}
body.dark .window button:not(:disabled):hover {
    box-shadow: none;
    background: #4e4e4e;
}
body.dark .window button {
    border: 0;
    box-shadow: 0 0 2px #131313;
    background: #3a3a3a;
    color: white;
}
body.dark .window {
    color: white;
    background: #131313;
    box-shadow: none;
}
body.dark article {
  border: 0px solid #131313 !important;
  background: #3a3a3a !important;
}