body {
    background: url('/img/bg/tnp/bg.gif') repeat black;
    color: white;
    cursor: default;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
}
[data-key="aka_tnp"] {
    font-size: 13px;
}
@font-face {
    font-family: binchrt;
    src: url('/fonts/binchrt.ttf');
}
.undah {
    margin: 10px;
    width: 5em;
    filter: invert() saturate(40%);
}
.container .buttons {
    margin-bottom: 10px;
}
button {
    transition: 0.5s;
    font-size: 11px;
    color: black;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
}
button.back {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}
button:hover {
    cursor: pointer;
}
.container button:hover {
    filter: brightness(150%);
}
.container button.info {
    background: linear-gradient(-40deg,black,rgb(53, 53, 53));
    color: white;
    border: 0;
    padding: 4px 15px;
    border-radius: 2px;
    box-shadow: 0 0 4px black;
}
.container button.install {
    background: linear-gradient(-40deg,rgb(6, 84, 172),rgb(3, 147, 231));
    color: white;
    border: 0;
    padding: 4px 15px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgb(21, 73, 17);
}
.firsttitle {
    font-family: binchrt;
    text-transform: uppercase;
    font-size: 42px;
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgb(23, 46, 82),rgb(26, 70, 110));
    box-shadow: 0 -3px 4px rgb(23, 46, 82);
    border-radius: 4px 4px 0 0;
    width: 740px;
}
a {
    color: black;
    text-decoration: none;
}
.logo {
    width: 750px;
}
.container {
    text-decoration: none;
    padding: 5px;
    width: 350px;
    height: auto;
    border-radius: 3px;
    background: rgba(0,0,0,0.5);
    border: 1px solid rgb(14, 28, 49);
    box-shadow: 0 0 4px rgb(14, 28, 49);
}
body.dark .container {
    border-color: white;
}
.container.wide {
    width: 727px;
}
.container.wide .icon {
    margin-left: -217px;
}
.container.wide > .icon > .image.big {
    margin-left: 10px;
}
.container.wide .image.big {
    width: 650px;
}
.container .description {
    font-size: 12px;
}
.container.after {
    margin-left: 15px;
}
.container .icon {
    position: absolute;
    width: 64px;
    margin-top: -30px;
    margin-left: -30px;
}
.container .author {
    color: grey;
    font-size: 11px;
}
.container.wide .image {
    width: 350px;
}
.container .image {
    height: 167px;
}