body {
    background: white;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    height: 220px;
    margin-top: 45px;
    text-align: left;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.container .title {
    margin-top: 10px;
    color: #111;
    font-size: 24px;
    font-weight: 700;
}
.container .description {
    margin-top: 15px;
    font-size: 12px;
}
.container .image {
    float: left;
    margin: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 317px;
}
.container .buttons {
    float: right;
    margin: 15px;
}
.container button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
button {
    font-size: 11px;
    color: black;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
}
button.back {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}
button:hover {
    cursor: pointer;
}
.container button:hover {
    filter: brightness(120%);
}
.container button.info {
    background: linear-gradient(-40deg,black,rgb(53, 53, 53));
    color: white;
    border: 0;
    padding: 4px 15px;
    border-radius: 2px;
    box-shadow: 0 0 4px black;
    font-weight: 600;
}
.container button.install {
    background: linear-gradient(-40deg,rgb(6, 172, 61),rgb(3, 231, 41));
    color: white;
    border: 0;
    padding: 4px 15px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgb(21, 73, 17);
    font-weight: 600;
}


body.dark .container {
    background: #181a1b;
    color: white;
}
body.dark .container .title {
    color: white;
}
body.dark button {
    background: #181a1b;
    border: 1px solid #151616;
    color: white;
}
body.dark .container button.info {
    color: black;
    background: linear-gradient(-40deg,#fcfbfb,#cdcccc);
    box-shadow: 0 0 4px #fcfbfb;
}