body {
    background: url("/img/bg/wavy.gif") right top no-repeat black !important;
    cursor: default;
}
a { transition: 0.5s; text-decoration: underline !important; }
a:hover { color: white !important; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black; }
.reinbo {
    font-family: monospace;
    font-weight: bold;
    animation: colorRotate 3s linear 0s infinite;
}
.black-greytext {
  animation: 5s black-greytext linear infinite;
}
@keyframes black-greytext {
  0%,100% {
      color: black;
  }
  50% {
      color: grey;
  }
}
@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
.window.updates {
    background: #748dd3;
    box-shadow: none;
}
.window.updates .window-body ul {
    text-align: left;
}
.window.updates .title-bar {
    text-align: center !important;
    padding: 5px;
    background: linear-gradient(0deg,#748dd3,#1345cf);
    border: 0;
}